<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="moto">
            <h2><span jhiTranslate="concesionario3App.moto.detail.title">Moto</span> {{ moto.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="concesionario3App.moto.marca">Marca</span></dt>
                <dd>
                    <span>{{ moto.marca }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.modelo">Modelo</span></dt>
                <dd>
                    <span>{{ moto.modelo }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.anio">Anio</span></dt>
                <dd>
                    <span>{{ moto.anio }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.color">Color</span></dt>
                <dd *ngIf="moto.color; else sinColor">
                    <fa-icon icon="motorcycle" style.color="{{moto.color}}">
                    </fa-icon>
                </dd>
                <ng-template #sinColor>
                    <dd></dd>
                </ng-template>
                <dt><span jhiTranslate="concesionario3App.moto.cilindrada">Cilindrada</span></dt>
                <dd>
                    <span>{{ moto.cilindrada }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.precio">Precio</span></dt>
                <dd>
                    <span>{{ moto.precio | currency: 'EUR' }}</span>
                </dd>

            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/moto', moto.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
