<div>
    <h2 id="page-heading">
        <span jhiTranslate="concesionario3App.moto.home.title">Motos</span>
        <select class="form-control-sm" #mySelectVend (change)='paginador(mySelectVend.value)'>
            <option class='option' [value]="5">5</option>
            <option class='option' [value]="10">10</option>
            <option class='option' [value]="20">20</option>
        </select>
        <button id="jh-create-entity" class="mr-3 btn btn-primary float-right jh-create-entity create-moto" [routerLink]="['/moto/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="concesionario3App.moto.home.createLabel">
                Create a new Moto
            </span>
        </button>

        <button id="jh-show-all" class="mr-3 btn btn-success float-right jh-show-all all-cars" [routerLink]="['/moto']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="concesionario3App.moto.home.todos">
                Todos
            </span>
        </button>
        <button id="jh-available" class="mr-3 btn btn-secondary float-right jh-vailable available-cars" [routerLink]="['/moto/disponibles']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="concesionario3App.moto.home.disponibles">
                Disponibles
            </span>
        </button>
        <button id="jh-sold" class="mr-3 btn btn-warning float-right jh-sold sold-cars" [routerLink]="['/moto/vendidos']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="concesionario3App.moto.home.vendidos">
                Vendidos
            </span>
        </button>

    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="motos?.length === 0">
        <span jhiTranslate="concesionario3App.moto.home.notFound">No motos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="motos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="marca"><span jhiTranslate="concesionario3App.moto.marca">Marca</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="anio"><span jhiTranslate="concesionario3App.moto.anio">Anio</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="precio"><span jhiTranslate="concesionario3App.moto.precio">Precio</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="venta_id"><span jhiTranslate="concesionario3App.moto.venta_id">Venta
                            Id</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let moto of motos ;trackBy: trackId">
                <tr *ngIf="moto.venta">

                    <td><a [routerLink]="['/moto', moto.id, 'view']">{{ moto.id }}</a></td>
                    <td>{{ moto.marca }}</td>
                    <td>{{ moto.anio }}</td>
                    <td>{{ moto.precio }}</td>
                    <td *ngIf="!moto.venta">
                        <span jhiTranslate="concesionario3App.moto.disponible">Disponible</span>
                    </td>
                    <td *ngIf="moto.venta">
                        <a [routerLink]="['/venta', moto.venta?.id, 'view']">{{ moto.venta?.id }} <span
                                    jhiTranslate="concesionario3App.moto.vendido">Vendido</span></a>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/moto', moto.id, 'view']" class="btn btn-info btn-sm">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>

                            <button type="submit" [routerLink]="['/moto', moto.id, 'edit']" class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>

                            <button type="submit" (click)="delete(moto)" class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="motos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
