<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="moto">
            <h2><span jhiTranslate="concesionario3App.moto.detail.title">Moto</span> {{ moto.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="concesionario3App.moto.marca">Marca</span></dt>
                <dd>
                    <span>{{ moto.marca }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.anio">Anio</span></dt>
                <dd>
                    <span>{{ moto.anio }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.electrico">Electrico</span></dt>
                <dd>
                    <span>{{ moto.electrico }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.precio">Precio</span></dt>
                <dd>
                    <span>{{ moto.precio | currency: 'EUR' }}</span>
                </dd>
                <dt><span jhiTranslate="concesionario3App.moto.color">Color</span></dt>
                <div class="border-box" style="width: 80px; height: 40px; background-color: {{ moto.color }};">
                    <dd>
                        <span>{{ moto.color }}</span>
                    </dd>
                </div>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/moto', moto.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>