<div class="row">

    <div class="col-3">


        <div class="informesVentas">
            <h1><span jhiTranslate="concesionario3App.informes.ventas">Informes de ventas</span></h1>
            <div class="botonesInformesVentas">
                <button id="jh-show-all" class="mr-3 btn btn-success jh-show-all rounded-pill" (click)="terminadasPDF()">
                    <fa-icon icon="list"></fa-icon>
                    <span jhiTranslate="concesionario3App.informes.ventasTerminadas">
                        Ventas terminadas
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="informesVendedores">
            <h1><span jhiTranslate="concesionario3App.informes.vendedores">Informes de vendedores</span></h1>

            <div class="botonesInformesVendedores">

                <label class="form-control-label" jhiTranslate="concesionario3App.venta.metodoPago" for="field_metodoPago">Vendedor</label>
                <select class="form-control" id="field_vendedor" name="vendedor" [(ngModel)]="vendedor">
                    <option [ngValue]="null"></option>
                    <option [ngValue]=vendedor.id *ngFor="let vendedor of vendedores; trackBy: trackById">
                        {{ vendedor.nombre }}
                    </option>
                </select>
                <br />
                <button id="jh-show-all" class="mr-3 btn btn-success jh-show-all rounded-pill" (click)="vendedoresPDF(vendedor)">
                    <fa-icon icon="list"></fa-icon>
                    <span jhiTranslate="concesionario3App.informes.ventasRealizadas">
                        Ventas terminadas
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>