<div class="row">
    <div class="col-md-2">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-10">
        <div [ngSwitch]="isAuthenticated() ">
            <div *ngSwitchCase="true ">
                <h1>
                    <span id="home-logged-message " *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login } ">Welcome,
                        "{{ account.login }} ".</span>
                </h1>
                <div class="row">
                    <div class="col-5">
                        <div class="tarjeta1 p-3">
                            <div class="tarjeta1-header p-2">
                                <h3 jhiTranslate="home.masVentas">Vendedor con más ventas</h3>
                            </div>
                            <div class="tarjeta1-cuerpo">
                                <div class="tarjeta1-texto">
                                    <ng-container *ngIf="dataMax.numVentas>0; else sinVentas">
                                        <table class="table table-bordered" aria-describedby="HomePage">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        Vendedor
                                                    </th>
                                                    <th style="text-align: center;" scope="col">
                                                        Ventas
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>{{dataMax.nombre}}</td>
                                                <td style="text-align: center;">{{dataMax.numVentas}}</td>
                                            </tr>
                                        </table>
                                    </ng-container>
                                    <ng-template #sinVentas>
                                        <div class="alert alert-warning">
                                            <span jhiTranslate="home.sinVentas">No hay ventas todavía</span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="tarjeta2 p-3">
                            <div class="tarjeta2-header p-2">
                                <h3 jhiTranslate="home.masDinero">Vendedor con mmejor recaudación</h3>
                            </div>
                            <div class="tarjeta2-cuerpo">
                                <div class="tarjeta2-texto">
                                    <ng-container *ngIf="dataMaxDinero.totalVentas>0; else sinTotalVentas">
                                        <table class="table table-bordered" aria-describedby="HomePage">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        Vendedor
                                                    </th>
                                                    <th style="text-align: center;" scope="col">
                                                        Acumulado
                                                    </th>
                                                    <th style="text-align: center;" scope="col">
                                                        Ventas
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>{{dataMaxDinero.nombre}}</td>
                                                <td style="text-align: center;">{{dataMaxDinero.totalVentas | currency: 'EUR'}}</td>
                                                <td>{{dataMaxDinero.numVentas}}</td>
                                            </tr>
                                        </table>
                                    </ng-container>
                                    <ng-template #sinTotalVentas>
                                        <div class="alert alert-warning">
                                            <span jhiTranslate="home.sinVentas">No hay ventas todavía</span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin row tarjetas -->

                <!-- Tabla coches disponibles -->

                <div class="row">
                    <div class="col-5">
                        <h1><span jhiTranslate="home.cochesDisponibles">Coches disponibles </span></h1>
                        <div class="alert alert-warning" id="no-result" *ngIf="disponibles?.length === 0">
                            <span jhiTranslate="concesionario3App.coche.home.noCars">No hay coches disponibles</span>
                        </div>
                        <div class="table-responsive" id="entities" *ngIf="disponibles?.length > 0">
                            <table class="table" aria-describedby="page-heading">
                                <thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                                        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>

                                        </th>
                                        <th scope="col" jhiSortBy="marca"><span jhiTranslate="concesionario3App.coche.marca">Marca</span>

                                        </th>
                                        <th scope="col" jhiSortBy="modelo"><span jhiTranslate="concesionario3App.coche.modelo">Modelo</span>

                                        </th>
                                        <th scope="col" jhiSortBy="anio"><span jhiTranslate="concesionario3App.coche.anio">Anio</span>

                                        </th>

                                        <th scope="col" jhiSortBy="electrico"><span jhiTranslate="concesionario3App.coche.electrico">Electrico</span>

                                        </th>


                                        <th scope="col" jhiSortBy="color"><span jhiTranslate="concesionario3App.coche.color">Color</span>

                                        </th>
                                        <th scope="col" jhiSortBy="precio"><span jhiTranslate="concesionario3App.coche.precio">Precio</span>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let coche of disponibles ;trackBy: trackId">

                                        <td><a [routerLink]="['/coche', coche.id, 'view']">{{ coche.id }}</a></td>
                                        <td>{{ coche.marca }}</td>
                                        <td>{{ coche.modelo }}</td>
                                        <td>{{ coche.anio }}</td>
                                        <td *ngIf="coche.electrico==true">
                                            <fa-icon icon="check" style="color: green;"></fa-icon>
                                        </td>

                                        <td *ngIf="coche.electrico==false">
                                            <fa-icon icon="times" style="color: red;"></fa-icon>
                                        </td>
                                        <!-- TODO Revisar por qué no colorea el icono del color correspondiente. -->
                                        <td *ngIf="coche.color; else sinColor">
                                            <fa-icon icon="car" style.color="{{coche.color}}">
                                            </fa-icon>
                                        </td>
                                        <ng-template #sinColor>
                                            <td></td>
                                        </ng-template>
                                        <td>{{ coche.precio | currency: 'EUR' }}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="disponibles?.length > 0">
                            <div class="row justify-content-center">
                                <h2>{{disponibles.length}} coches disponibles</h2>
                            </div>
                        </div>
                    </div>
                    <!-- LISTADO MOTOS DISPONIBLES -->

                    <div class="col-6">
                        <h1><span jhiTranslate="home.motosDisponibles">Motos disponibles </span></h1>
                        <div class="alert alert-warning" id="no-result" *ngIf="motos?.length === 0">
                            <span jhiTranslate="concesionario3App.coche.home.noMotorbikes">No hay motos disponibles</span>
                        </div>
                        <div class="table-responsive" id="entities" *ngIf="motos?.length > 0">
                            <table class="table" aria-describedby="page-heading">
                                <thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                                        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>

                                        </th>
                                        <th scope="col" jhiSortBy="marca"><span jhiTranslate="concesionario3App.coche.marca">Marca</span>

                                        </th>
                                        <th scope="col" jhiSortBy="modelo"><span jhiTranslate="concesionario3App.coche.modelo">Modelo</span>

                                        </th>
                                        <th scope="col" jhiSortBy="anio"><span jhiTranslate="concesionario3App.coche.anio">Anio</span>

                                        </th>

                                        <th scope="col" jhiSortBy="electrico"><span jhiTranslate="concesionario3App.coche.electrico">Electrico</span>

                                        </th>


                                        <th scope="col" jhiSortBy="color"><span jhiTranslate="concesionario3App.coche.color">Color</span>

                                        </th>

                                        <th scope="col" jhiSortBy="color"><span jhiTranslate="concesionario3App.moto.cilindrada">Cilindrada</span>

                                        </th>

                                        <th scope="col" jhiSortBy="precio"><span jhiTranslate="concesionario3App.coche.precio">Precio</span>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let moto of motos ;trackBy: trackId">

                                        <td><a [routerLink]="['/coche', moto.id, 'view']">{{ moto.id }}</a></td>
                                        <td>{{ moto.marca }}</td>
                                        <td>{{ moto.modelo }}</td>
                                        <td>{{ moto.anio }}</td>
                                        <td *ngIf="moto.electrico==true">
                                            <fa-icon icon="check" style="color: green;"></fa-icon>
                                        </td>

                                        <td *ngIf="moto.electrico==false">
                                            <fa-icon icon="times" style="color: red;"></fa-icon>
                                        </td>
                                        <!-- TODO Revisar por qué no colorea el icono del color correspondiente. -->
                                        <td *ngIf="moto.color; else sinColor">
                                            <fa-icon icon="car" style.color="{{moto.color}}">
                                            </fa-icon>
                                        </td>
                                        <ng-template #sinColor>
                                            <td></td>
                                        </ng-template>
                                        <td>{{ moto.cilindrada | currency: 'EUR' }}</td>

                                        <td>{{ moto.precio | currency: 'EUR' }}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="motos?.length > 0">
                            <div class="row justify-content-center">
                                <h2>{{motos.length}} motos disponibles</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="alert alert-warning" *ngSwitchCase="false ">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link " (click)="login() " jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default
                    accounts:<br />- Administrator (login="admin " and password="admin ") <br />- User (login="user "
                    and
                    password="user ").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false ">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link " routerLink="account/register " jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>

            <div *ngSwitchCase="false">
                <p jhiTranslate="home.question">
                    If you have any question on JHipster:
                </p>

                <ul>
                    <li><a href="https://www.jhipster.tech/" target="_blank " rel="noopener noreferrer " jhiTranslate="home.link.homepage">JHipster homepage</a></li>
                    <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank " rel="noopener noreferrer " jhiTranslate="home.link.stackoverflow">JHipster on Stack
                            Overflow</a></li>
                    <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank " rel="noopener noreferrer" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
                    <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank " rel="noopener noreferrer " jhiTranslate="home.link.chat">JHipster public chat room</a></li>
                    <li><a href="https://twitter.com/jhipster" target="_blank " rel="noopener noreferrer " jhiTranslate="home.link.follow">follow @jhipster on Twitter</a></li>
                </ul>

                <p>
                    <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank " rel="noopener noreferrer " jhiTranslate="home.github">GitHub</a>!
                </p>
            </div>

        </div>



    </div>
</div>