<div>
    <h2 id="page-heading">
        <span jhiTranslate="concesionario3App.venta.home.title">Ventas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-venta" [routerLink]="['/venta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="concesionario3App.venta.home.createLabel">
                Create a new Venta
            </span>
        </button>

        <button id="jh-show-all" class="mr-3 btn btn-success float-right jh-show-all all-cars rounded-pill" (click)="informe()">
            <fa-icon icon="list"></fa-icon>
            <span jhiTranslate="concesionario3App.venta.crearInforme">
                Generar informe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ventas?.length === 0">
        <span jhiTranslate="concesionario3App.venta.home.notFound">No ventas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ventas?.length > 0">
        <table class="table" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="fecha"><span jhiTranslate="concesionario3App.venta.fecha">Fecha</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="importeTotal"><span jhiTranslate="concesionario3App.venta.importeTotal">Importe Total</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="coche.id"><span jhiTranslate="concesionario3App.venta.vehiculo">Vehículo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="coche.id"><span jhiTranslate="concesionario3App.venta.tipo">Tipo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="cliente.id"><span jhiTranslate="concesionario3App.venta.cliente">Cliente</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="vendedor.id"><span jhiTranslate="concesionario3App.venta.vendedor">Vendedor</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="venta.metodoPago"><span jhiTranslate="concesionario3App.venta.metodoPago">Método de pago</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="venta.numeroVenta"><span jhiTranslate="concesionario3App.venta.numeroVenta">Número de venta</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="venta.estadoVenta"><span jhiTranslate="concesionario3App.venta.estadoVenta">Estado</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venta of ventas ;trackBy: trackId">
                    <td><a [routerLink]="['/venta', venta.id, 'view']">{{ venta.id }}</a></td>
                    <td>{{ venta.fecha | date:'medium' }}</td>
                    <td>{{ venta.importeTotal | currency: 'EUR' }}</td>
                    <td>
                        <div *ngIf="venta.coche">
                            <a [routerLink]="['/coche', venta.coche?.id, 'view']">{{ venta.coche?.marca }}
                                {{ venta.coche?.modelo }}</a>
                        </div>
                        <div *ngIf="venta.moto">
                            <a [routerLink]="['/coche', venta.moto?.id, 'view']">{{ venta.moto?.marca }}
                                {{ venta.moto?.modelo }}</a>
                        </div>


                    </td>
                    <td>
                        <ng-container *ngIf="venta.tipo=='COCHE'; else tipoMoto">
                            <fa-icon icon="car" style="color:red">
                            </fa-icon>
                        </ng-container>
                        <ng-template #tipoMoto>
                            <ng-container *ngIf="venta.tipo=='MOTO'; else tipoOtro">
                                <fa-icon icon="motorcycle" style="color:green">
                                </fa-icon>
                            </ng-container>
                            <ng-template #tipoOtro>

                            </ng-template>


                        </ng-template>
                    </td>

                    <td>
                        <div *ngIf="venta.cliente">
                            <a [routerLink]="['/cliente', venta.cliente?.id, 'view']">{{ venta.cliente?.nombre }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="venta.vendedor">
                            <a [routerLink]="['/vendedor', venta.vendedor?.id, 'view']">{{ venta.vendedor?.nombre }}</a>
                        </div>
                    </td>
                    <td *ngIf="venta.metodoPago=='TRANSFERENCIA' else noTransferencia" style="text-align: center;">
                        <span style="color: red; font-weight: bold;">{{venta.metodoPago }}</span>
                    </td>
                    <ng-template #noTransferencia>
                        <td *ngIf="venta.metodoPago=='EFECTIVO' else noEfectivo" style="text-align: center;">
                            <span style="color: orange; font-weight: bold;">{{venta.metodoPago }}</span>
                        </td>
                    </ng-template>
                    <ng-template #noEfectivo>
                        <td *ngIf="venta.metodoPago=='DOMICILIACION' else noDomiciliacion" style="text-align: center;">
                            <span style="color: green; font-weight: bold;">{{venta.metodoPago }}</span>
                        </td>
                    </ng-template>
                    <ng-template #noDomiciliacion>
                        <td *ngIf="venta.metodoPago=='TARJETA' else otro" style="text-align: center;">
                            <span style="color: blue; font-weight: bold;">{{venta.metodoPago }}</span>
                        </td>
                    </ng-template>
                    <ng-template #otro>
                        <td>
                            {{venta.metodoPago }}
                        </td>
                    </ng-template>
                    <td style="text-align: center;">
                        {{ venta.numeroVenta }}
                    </td>
                    <td *ngIf="venta.estadoVenta=='DISPONIBLE' else noDisponible" style="text-align: center;">
                        <span style="color: red; font-weight: bold;">{{venta.estadoVenta }}</span>
                    </td>
                    <ng-template #noDisponible>
                        <td *ngIf="venta.estadoVenta=='INICIADA' else noIniciada" style="text-align: center;">
                            <span style="color: orange; font-weight: bold;">{{venta.estadoVenta }}</span>
                        </td>
                    </ng-template>
                    <ng-template #noIniciada>
                        <td *ngIf="venta.estadoVenta=='EN_PROCESO' else noEnProceso" style="text-align: center;">
                            <span style="color: green; font-weight: bold;">{{venta.estadoVenta }}</span>
                        </td>
                    </ng-template>
                    <ng-template #noEnProceso>
                        <td *ngIf="venta.estadoVenta=='TERMINADA' else otroEstado" style="text-align: center;">
                            <span style="color: blue; font-weight: bold;">{{venta.estadoVenta }}</span>
                        </td>
                    </ng-template>
                    <ng-template #otroEstado>
                        <td>
                            {{venta.estadoVenta }}
                        </td>
                    </ng-template>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/venta', venta.id, 'view']" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <ng-container *ngIf="venta.estadoVenta===null else botonDisponible">
                                <button type="submit" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-success btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.disponible">Disponible</span>
                                </button>
                            </ng-container>
                            <ng-template #botonDisponible>
                                <ng-container *ngIf="venta.estadoVenta==='DISPONIBLE'; else botonEnProceso">
                                    <button type="submit" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-success btn-sm">
                                        <fa-icon icon="pencil-alt"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                </ng-container>
                                <ng-template #botonEnProceso>
                                    <ng-container *ngIf="venta.estadoVenta==='EN_PROCESO'; else botonTerminada">
                                        <button type="submit" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-dark btn-sm">
                                            <fa-icon icon="pencil-alt"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.enProceso">En
                                                proceso</span>
                                        </button>
                                    </ng-container>
                                    <ng-template #botonTerminada>
                                        <button type="submit" disabled [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-warning btn-sm">
                                                <fa-icon icon="pencil-alt"></fa-icon>
                                                <span class="d-none d-md-inline"
                                                    jhiTranslate="entity.action.terminada">terminada</span>
                                            </button>
                                    </ng-template>

                                </ng-template>
                            </ng-template>
                            <button type="submit" (click)="delete(venta)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ventas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
